<a href="https://colab.research.google.com/github/DanB1421/DanB1421/blob/main/assignment_04/inclass_session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice

- Date: 02/21/2022
- Name: Daniel Brilliant

In [41]:
import random 
import re 
for i in range(0,10): 
    print(end="\n ") 
    for j in range(0,10): 
        num=random.randint(0,9) 
        if (num % 2) == 0: 
            print(num, end=" ") 
        else: 
            strnum = str(num) 
            strnum=strnum.replace(strnum,"@") 
            print(strnum, end=" ")

 0 @ 8 @ @ 4 8 @ @ @
 0 4 8 @ @ 4 2 2 0 @
 @ @ 0 8 @ 2 4 6 0 @
 @ 2 @ 8 8 @ 0 @ @ 4
 @ @ 2 @ @ 0 6 @ @ 8
 @ @ 4 @ @ @ 6 @ 2 @
 @ @ @ @ 8 @ 6 4 @ @
 @ @ @ @ 0 @ 6 @ 6 @
 8 6 @ 2 0 @ @ 2 @ 2
 2 @ @ @ 0 2 6 @ @ @

In [2]:
x = "Hello, wporld!"

print(x)

Hello, wporld!

In [3]:
x = x.replace("p","")

print(x)

Hello, world!

In [9]:
x = x.replace("Hello", "Hi")

print(x)

Hi, world!

In [11]:
x = x.replace("w", "W")

print(x)

Hi, World!

In [13]:
x = x.upper()

print(x)

HI, WORLD!

In [14]:
x = x.lower()

print(x)

hi, world!

# String functions/methods/operations

- upper()
- lower()
- replace()
- strip()
- lstrip()
- rstrip()

In [17]:
#  generate 100 number first

numbers=[]    # This list is to hold 100 random numbers
for i in range(100):
    numbers.append(random.randint(0,9))

print(numbers)
print(len(numbers))

[9, 6, 4, 9, 5, 3, 1, 7, 4, 2, 1, 1, 5, 2, 9, 7, 5, 9, 9, 7, 7, 0, 0, 9, 0, 1, 0, 0, 2, 0, 0, 6, 2, 6, 8, 8, 8, 6, 0, 3, 1, 0, 7, 5, 6, 3, 7, 1, 8, 3, 0, 7, 4, 3, 6, 6, 3, 7, 2, 8, 4, 4, 7, 7, 0, 2, 1, 6, 9, 1, 3, 7, 6, 0, 2, 2, 0, 2, 5, 5, 8, 6, 7, 1, 8, 2, 1, 2, 1, 9, 5, 3, 9, 9, 7, 1, 5, 6, 2, 4]
100

In [38]:
for i in range(0,100,1):
    print("index = ", i, "member = ", numbers[i])

index =  0 member =  9
index =  1 member =  6
index =  2 member =  4
index =  3 member =  9
index =  4 member =  5
index =  5 member =  3
index =  6 member =  1
index =  7 member =  7
index =  8 member =  4
index =  9 member =  2
index =  10 member =  1
index =  11 member =  1
index =  12 member =  5
index =  13 member =  2
index =  14 member =  9
index =  15 member =  7
index =  16 member =  5
index =  17 member =  9
index =  18 member =  9
index =  19 member =  7
index =  20 member =  7
index =  21 member =  0
index =  22 member =  0
index =  23 member =  9
index =  24 member =  0
index =  25 member =  1
index =  26 member =  0
index =  27 member =  0
index =  28 member =  2
index =  29 member =  0
index =  30 member =  0
index =  31 member =  6
index =  32 member =  2
index =  33 member =  6
index =  34 member =  8
index =  35 member =  8
index =  36 member =  8
index =  37 member =  6
index =  38 member =  0
index =  39 member =  3
index =  40 member =  1
index =  41 member =  0
index =  42 member =  7
index =  43 member =  5
index =  44 member =  6
index =  45 member =  3
index =  46 member =  7
index =  47 member =  1
index =  48 member =  8
index =  49 member =  3
index =  50 member =  0
index =  51 member =  7
index =  52 member =  4
index =  53 member =  3
index =  54 member =  6
index =  55 member =  6
index =  56 member =  3
index =  57 member =  7
index =  58 member =  2
index =  59 member =  8
index =  60 member =  4
index =  61 member =  4
index =  62 member =  7
index =  63 member =  7
index =  64 member =  0
index =  65 member =  2
index =  66 member =  1
index =  67 member =  6
index =  68 member =  9
index =  69 member =  1
index =  70 member =  3
index =  71 member =  7
index =  72 member =  6
index =  73 member =  0
index =  74 member =  2
index =  75 member =  2
index =  76 member =  0
index =  77 member =  2
index =  78 member =  5
index =  79 member =  5
index =  80 member =  8
index =  81 member =  6
index =  82 member =  7
index =  83 member =  1
index =  84 member =  8
index =  85 member =  2
index =  86 member =  1
index =  87 member =  2
index =  88 member =  1
index =  89 member =  9
index =  90 member =  5
index =  91 member =  3
index =  92 member =  9
index =  93 member =  9
index =  94 member =  7
index =  95 member =  1
index =  96 member =  5
index =  97 member =  6
index =  98 member =  2
index =  99 member =  4

In [27]:
count=0
for i in range(10):
    for j in range(10):
        print(numbers[count], " ", end=" ")
        count+=1
    print("\n")

9   6   4   9   5   3   1   7   4   2

1   1   5   2   9   7   5   9   9   7

7   0   0   9   0   1   0   0   2   0

0   6   2   6   8   8   8   6   0   3

1   0   7   5   6   3   7   1   8   3

0   7   4   3   6   6   3   7   2   8

4   4   7   7   0   2   1   6   9   1

3   7   6   0   2   2   0   2   5   5

8   6   7   1   8   2   1   2   1   9

5   3   9   9   7   1   5   6   2   4

In [45]:
# when to initialize a variable
 
sum=0
for n in range(10): #repeats each row 10 times
    for i in range(10):
        y = random.randint(0,9) #repeats each integer 10 times
        sum = sum + y
        print(y,end=" ") #prints one integer with space at the end
    print("*",sum,end="\n") #starts a new row with 10 integers
    sum=0

7 5 2 5 5 4 0 6 7 4 * 45
1 4 6 1 1 1 5 5 3 8 * 35
6 1 1 5 1 3 1 4 2 3 * 27
2 7 7 7 0 5 1 2 7 7 * 45
3 7 3 1 7 2 8 8 5 6 * 50
4 6 8 2 5 5 1 7 4 1 * 43
2 9 0 9 8 8 2 8 7 0 * 53
9 8 6 5 5 9 9 9 9 8 * 77
3 0 3 6 6 3 8 1 0 8 * 38
9 4 3 0 5 3 2 5 2 2 * 35

In [ ]:
# when to initialize a variable
 
sum=0
for n in range(10):
    for i in range(10):
        y = random.randint(0,9)
        sum = sum + y
        print(y,end=" ")
    print("*",sum,end="\n")
    sum=0

In [47]:
# when to initialize a variable
 

for n in range(10):
    sum=0
    for i in range(10):
        y = random.randint(0,9)
        sum = sum + y
        print(y,end=" ")
    print("*",sum,end="\n")

5 6 6 9 7 8 1 0 8 3 * 53
4 6 0 9 9 6 7 2 8 9 * 60
8 8 0 8 6 0 1 7 2 3 * 43
0 3 4 2 6 5 6 0 1 8 * 35
7 9 7 0 1 8 1 9 7 7 * 56
4 2 8 8 1 2 4 5 2 8 * 44
6 5 6 1 2 6 0 2 9 9 * 46
9 1 9 4 6 4 9 1 6 2 * 51
4 0 4 6 8 6 2 8 7 6 * 51
2 4 1 5 2 0 0 3 3 0 * 20

In [48]:
x = [0,0,0,0,0,0]

print(x)

[0, 0, 0, 0, 0, 0]

In [49]:
x = [0]*6

print(x)

[0, 0, 0, 0, 0, 0]

In [50]:
x = [0]*100

print(x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]